WPFAuction/Connected Services/ServiceReferenceBuyer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" />
  <xs:element name="GetAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="GetAllProductResult" nillable="true" type="q1:ArrayOfServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionForBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverBuyerDTO" nillable="true" type="q2:ServerBuyerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionForBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionForBuyerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverLotDTO" nillable="true" type="q3:ServerLotDTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverBuyerDTO" nillable="true" type="q4:ServerBuyerDTO" />
        <xs:element minOccurs="0" name="newPrice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconectionForBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverBuyerDTO" nillable="true" type="q5:ServerBuyerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoughtLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverBuyerDTO" nillable="true" type="q6:ServerBuyerDTO" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverLotDTO" nillable="true" type="q7:ServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashForBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverBuyerDTO" nillable="true" type="q8:ServerBuyerDTO" />
        <xs:element minOccurs="0" name="cash" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBuyerCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cash" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuyerLots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="allLots" nillable="true" type="q9:ServerLotDTO" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="selectedBuyersLots" nillable="true" type="q10:ArrayOfServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuyerBoughtLots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="boughtLot" nillable="true" type="q11:ServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuyerBoughtLotsAfter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="boughtBuyersLots" nillable="true" type="q12:ArrayOfServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>