WPFAuction/Connected Services/ServiceReferenceSeller/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" />
  <xs:element name="GetServerLotDTOForSeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q1:ServerSellerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerLotDTOForSellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="GetServerLotDTOForSellerResult" nillable="true" type="q2:ArrayOfServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionForSeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q3:ServerSellerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionForSellerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionForSellerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q4:ServerSellerDTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverLotDTO" nillable="true" type="q5:ServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectionForSeller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q6:ServerSellerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverLotDTO" nillable="true" type="q7:ServerLotDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q8:ServerSellerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverLotDTO" nillable="true" type="q9:ServerLotDTO" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="serverSellerDTO" nillable="true" type="q10:ServerSellerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSellerLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AuctionBLLService.DTOClasses" minOccurs="0" name="lots" nillable="true" type="q11:ArrayOfServerLotDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>